In [1]:
# PANDAS

In [2]:
# Creating, Reading and Writing

In [5]:
# Getting started
import pandas as pd

In [6]:
# creating data 
pd.DataFrame({"Yes":[20,23],"no":[12,23]})

   Yes  no
0   20  12
1   23  23

In [7]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [8]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [9]:
# Series
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [10]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'])

2015 Sales    30
2016 Sales    35
2017 Sales    40
dtype: int64

In [13]:
# Reading data files
df = pd.read_csv("./data/president_heights.csv")

In [14]:
df

    order                    name  height(cm)
0       1       George Washington         189
1       2              John Adams         170
2       3        Thomas Jefferson         189
3       4           James Madison         163
4       5            James Monroe         183
5       6       John Quincy Adams         171
6       7          Andrew Jackson         185
7       8        Martin Van Buren         168
8       9  William Henry Harrison         173
9      10              John Tyler         183
10     11           James K. Polk         173
11     12          Zachary Taylor         173
12     13        Millard Fillmore         175
13     14         Franklin Pierce         178
14     15          James Buchanan         183
15     16         Abraham Lincoln         193
16     17          Andrew Johnson         178
17     18        Ulysses S. Grant         173
18     19     Rutherford B. Hayes         174
19     20       James A. Garfield         183
20     21       Chester A. Arthur         183
21     23       Benjamin Harrison         168
22     25        William McKinley         170
23     26      Theodore Roosevelt         178
24     27     William Howard Taft         182
25     28          Woodrow Wilson         180
26     29       Warren G. Harding         183
27     30         Calvin Coolidge         178
28     31          Herbert Hoover         182
29     32   Franklin D. Roosevelt         188
30     33         Harry S. Truman         175
31     34    Dwight D. Eisenhower         179
32     35         John F. Kennedy         183
33     36       Lyndon B. Johnson         193
34     37           Richard Nixon         182
35     38             Gerald Ford         183
36     39            Jimmy Carter         177
37     40           Ronald Reagan         185
38     41       George H. W. Bush         188
39     42            Bill Clinton         188
40     43          George W. Bush         182
41     44            Barack Obama         185

In [15]:
df.shape

(42, 3)

In [16]:
df.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [20]:
df = pd.read_csv("./data/president_heights.csv",index_col=0)
df

                         name  height(cm)
order
1           George Washington         189
2                  John Adams         170
3            Thomas Jefferson         189
4               James Madison         163
5                James Monroe         183
6           John Quincy Adams         171
7              Andrew Jackson         185
8            Martin Van Buren         168
9      William Henry Harrison         173
10                 John Tyler         183
11              James K. Polk         173
12             Zachary Taylor         173
13           Millard Fillmore         175
14            Franklin Pierce         178
15             James Buchanan         183
16            Abraham Lincoln         193
17             Andrew Johnson         178
18           Ulysses S. Grant         173
19        Rutherford B. Hayes         174
20          James A. Garfield         183
21          Chester A. Arthur         183
23          Benjamin Harrison         168
25           William McKinley         170
26         Theodore Roosevelt         178
27        William Howard Taft         182
28             Woodrow Wilson         180
29          Warren G. Harding         183
30            Calvin Coolidge         178
31             Herbert Hoover         182
32      Franklin D. Roosevelt         188
33            Harry S. Truman         175
34       Dwight D. Eisenhower         179
35            John F. Kennedy         183
36          Lyndon B. Johnson         193
37              Richard Nixon         182
38                Gerald Ford         183
39               Jimmy Carter         177
40              Ronald Reagan         185
41          George H. W. Bush         188
42               Bill Clinton         188
43             George W. Bush         182
44               Barack Obama         185