CSV INTO DB
==========

In [1]:
import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
  host="localhost",
  user="ragu",
  password="password"
)

mycursor = mydb.cursor()

In [2]:
#Creating a Database
mycursor.execute(" CREATE DATABASE Iris")

In [3]:
#SHOW DATABASES
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('CSVINTOSQL',)
('Iris',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [4]:
df = pd.read_csv("Iris.csv")

In [5]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
mycursor.execute("use Iris")

In [7]:
mycursor.execute("create Table Iris(Id INT,SepalLengthCm FLOAT , SepalWidthCm FLOAT, PetalLengthCm FLOAT, PetalWidthCm FLOAT , Species VARCHAR(16))")

In [8]:
for row in df.itertuples():
    sql = "INSERT INTO Iris (Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm ,Species) VALUES (%(Id)s, %(SepalLengthCm)s, %(SepalWidthCm)s, %(PetalLengthCm)s, %(PetalWidthCm)s, %(Species)s)"
    val = {
        "Id":row.Id,
        "SepalLengthCm":row.SepalLengthCm,
        "SepalWidthCm":row.SepalWidthCm,
        "PetalLengthCm":row.PetalLengthCm,
        "PetalWidthCm": row.PetalWidthCm,
        "Species":row.Species     
    }  
    mycursor.execute(sql, val)
    mydb.commit()